body{
    height: 100vh;

    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;

    background-color: #ffffff;
}

.cursor{
    cursor: pointer;
}

/* --------- Configurações do Scroll --------- */
::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    background: rgb(138, 138, 138);
    border-radius: 10px;
}